.idea

backend/logs/
backend/public/*_custom.log

backend/.env
backend/.env.local
backend/vendor
backend/.phpunit.result.cache

backend/config/projects.php
backend/config/domains.php
backend/config/emails.php
backend/config/logs.php
backend/config/databases.php
backend/config/help.php
backend/config/code.php