/backend/config/projects.php
/backend/config/domains.php
/backend/config/logs.php

/backend/logs/
/backend/public/*_custom.log
.idea
/backend/.env.local
/backend/vendor
/backend/.phpunit.result.cache